@model PaginatedList<AppUser>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "List of members";
}

<div class="MemberDetail_Searchbox_Zone">
    <form class="MemberDetail_Searchbox" method="get" asp-controller="Admin" asp-action="ListMembers">
        <input type="text" placeholder="Find member here - E.g: Nguyễn Đình Anh Tiến..."
               class="MemberDetail_searchTerm" name="searchString" value="@ViewBag.SearchString" />
        <button type="submit" class="MemberDetail_searchButton">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<div class="MemberList_Zone">
    <h1 class="MemberList_Header">Member list</h1>
    <div class="MemberList_TableZone">
        <table class="MemberList_Table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Cart</th>
                    <th>Register day</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    AppUser user = Model[i];
                    <tr>
                        <td>@(Model.FirstItemIndex + i)</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>12 Orders</td>
                        <td>@user.Birthday?.Date.ToString()</td>
                        <td><a href="#" style="color: inherit; text-decoration: inherit;">Go to profile details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="Model-Page">
        <div class="Model-GoToPage">
            <form asp-controller="Admin" asp-action="ListMembers" method="get">
                <button type="submit" style="background: none; border: none;">Go to page: </button>
                <input type="hidden" name="searchString" value="@ViewBag.SearchString" />
                <input type="number" name="pageIndex" value="@Model.PageIndex" min="1"
                       max="@Model.TotalPages" />
            </form>
        </div>

        <div active-page="@Model.PageIndex" total-pages="@Model.TotalPages"
             page-controller="Admin" page-action="ListMembers" page-data-searchString="@ViewBag.SearchString">
        </div>
    </div>
</div>