@model PaginatedList<AppUser>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "List of members";
}

<style>

    .MemberDetail_Searchbox_Zone {
        margin: 2% 2%;
        background-color: white;
        width: 94%;
        height: 80px;
        border-radius: 10px;
        z-index: 1;
    }

    .MemberDetail_Searchbox {
        padding: 20px 20px;
        width: 55%;
        position: relative;
        display: flex;
    }

    .MemberDetail_searchTerm {
        font-size: 16px;
        width: 100%;
        border: 1px solid #000000;
        border-right: none;
        padding: 5px;
        height: 36px;
        outline: none;
        color: #9DBFAF;
    }

        .MemberDetail_searchTerm:focus {
            color: #000000;
        }

    .MemberDetail_searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #000000;
        border-left: none;
        background: #ffffff;
        text-align: center;
        color: #000000;
        cursor: pointer;
        font-size: 20px;
    }

    .MemberList_Zone {
        margin: 2% 2%;
        background-color: white;
        width: 94%;
        height: 700px;
        border-radius: 10px;
        z-index: 1;
    }

    .MemberList_Header {
        padding: 20px 20px;
        font-weight: 700;
        font-size: 45px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .MemberList_TableZone {
        margin: 2% 2%;
        height: 500px;
        overflow-y: scroll;
    }

    .MemberList_Table {
        margin: 25px 0;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        min-width: 400px;
    }

        .MemberList_Table thead tr {
            background-color: #d2e2df;
            color: #000000;
            text-align: left;
        }

            .MemberList_Table thead tr th {
                font-weight: 800;
            }

        .MemberList_Table td button {
            border: none;
            background: white;
        }

        .MemberList_Table tbody tr:nth-of-type(even) td button {
            background-color: #e6e2e2;
        }

        .MemberList_Table th,
        .MemberList_Table td {
            padding: 10px 52px;
        }


        .MemberList_Table tbody tr:nth-of-type(even) {
            background-color: #e6e2e2;
        }

        .MemberList_Table th:first-child {
            border-radius: 10px 0 0 10px;
        }

        .MemberList_Table th:last-child {
            border-radius: 0 10px 10px 0;
        }

    .MemberDetail_Modal_Zone {
        height: 28cm;
        width: 100vw;
        background: rgb(0,0,0,0.7);
        z-index: 2;
        position: relative;
        bottom: 1090px;
        right: 25%;
    @* background: linear-gradient(rgb(105, 21, 173),rgb(9, 235, 47),rgb(31, 216, 201)); *@ color:white;
        font-weight: bold;
    }

    .MemberDetail_Page {
        width: 1200px;
        height: 450px;
        position: relative;
        top: 40%;
        margin: auto;
        background: white;
        font-weight: bold;
        font-size: 15px;
        border-radius: 20px;
        animation: modalshow 0.3s linear;
    }

    .MemberDetail_Page_Header {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-left: 30px;
        background: white;
        color: rgb(15, 0, 0);
        border-radius: 20px;
        font-size: 20px;
    }

        .MemberDetail_Page_Header a {
            cursor: pointer;
        }

    .MemberDetail_Page_Contents i {
        font-size: 110px;
        padding-top: 30px;
        padding-left: 30px;
    }

    .MemberDetail_Page_Contents_Detail {
        position: relative;
        bottom: 100px;
        left: 150px;
        width: 1000px;
        height: 350px;
        background: rgb(255, 255, 255);
    }

    .MemberDetail_Page_Contents_LeftWing {
        margin-left: 20px;
        width: 570px;
        height: 100%;
    @* background: #45d8bd; *@
    }

    .MemberDetail_Page_Contents_RightWing {
        width: 400px;
        height: 100%;
    @* background: #4745d8; *@ position:relative;
        left: 620px;
        bottom: 350px;
    }

    .MemberDetail_Page_Contents_LeftWing_Details {
        margin-top: 10px;
    }

        .MemberDetail_Page_Contents_LeftWing_Details span {
            color: rgb(26, 26, 26);
            font-size: 16px;
            font-weight: 400;
        }

    .MemberDetail_Page_Contents_LeftWing_Details_Value {
        width: 100%;
        height: 40px;
        background: rgb(0,0,0,0.2);
        margin-top: 12px;
    @* align-items: center; justify-content: center; *@ padding-left: 10px;
        padding-top: 5px;
    }

        .MemberDetail_Page_Contents_LeftWing_Details_Value p {
            font-weight: 700;
            font-size: 19px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }




    .MemberDetail_Page_Contents_RightWing_Details {
        margin-top: 10px;
    }

        .MemberDetail_Page_Contents_RightWing_Details span,
        .MemberDetail_Page_Contents_RightWing_Details_First span {
            color: rgb(26, 26, 26);
            font-size: 16px;
            font-weight: 400;
        }

    .MemberDetail_Page_Contents_RightWing_Details_Value {
        width: 100%;
        height: 40px;
        background: rgb(0,0,0,0.2);
        margin-top: 12px;
    @* align-items: center; justify-content: center; *@ padding-left: 10px;
        padding-top: 5px;
    }

        .MemberDetail_Page_Contents_RightWing_Details_Value p {
            font-weight: 700;
            font-size: 19px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }

    .hide {
        display: none;
    }

    .MemberList_Table a {
        cursor: pointer;
    }

    @@keyframes modalshow {
        from {
            top: -200px;
            opacity: 0;
        }

        to {
            top: 40%;
            opacity: 1;
            background: linear-gradient(rgb(105, 21, 173),rgb(9, 235, 47),rgb(31, 216, 201));
        }
    }

</style>

<div class="MemberDetail_Searchbox_Zone">
    <form class="MemberDetail_Searchbox" method="get" asp-controller="Admin" asp-action="ListMembers">
        <input type="text" placeholder="Find member here - E.g: Nguyễn Đình Anh Tiến..."
               class="MemberDetail_searchTerm" name="searchString" value="@ViewBag.SearchString" />
        <button type="submit" class="MemberDetail_searchButton">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<div class="MemberList_Zone">
    <h1 class="MemberList_Header">Member list</h1>
    <div class="MemberList_TableZone">
        <table class="MemberList_Table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Cart</th>
                    <th>Birthday</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    AppUser user = Model[i];
                    <tr>
                        <td>@(Model.FirstItemIndex + i)</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>12 Orders</td>
                        <td>@user.Birthday?.Date.ToString()</td>
                        <td>
                            <a user-id="@user.Id" style="color: inherit; text-decoration: inherit;">
                                Go to profile details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="Model-Page">
        <div class="Model-GoToPage">
            <form asp-controller="Admin" asp-action="ListMembers" method="get">
                <button type="submit" style="background: none; border: none;">Go to page: </button>
                <input type="hidden" name="searchString" value="@ViewBag.SearchString" />
                <input type="number" name="pageIndex" value="@Model.PageIndex" min="1"
                       max="@Model.TotalPages" />
            </form>
        </div>

        <div active-page="@Model.PageIndex" total-pages="@Model.TotalPages"
             page-controller="Admin" page-action="ListMembers" page-data-searchString="@ViewBag.SearchString">
        </div>
    </div>
</div>


<div class="MemberDetail_Modal_Zone hide">
    <div class="MemberDetail_Page">
        <div class="MemberDetail_Page_Header">
            <a><i class="fa-solid fa-angles-left"></i> Back</a>
        </div>

        <div class="MemberDetail_Page_Contents">
            <i class="fa-solid fa-circle-user" style="color: #ace198;"></i>

            <div class="MemberDetail_Page_Contents_Detail">
                <div class="MemberDetail_Page_Contents_LeftWing">
                    <div class="MemberDetail_Page_Contents_LeftWing_Details">
                        <span>User name</span>
                        <div class="MemberDetail_Page_Contents_LeftWing_Details_Value">
                            <p id="popup-user-name"></p>
                        </div>
                    </div>

                    <div class="MemberDetail_Page_Contents_LeftWing_Details">
                        <span>Account</span>
                        <div class="MemberDetail_Page_Contents_LeftWing_Details_Value">
                            <p id="popup-user-email"></p>
                        </div>
                    </div>


                    @*<div class="MemberDetail_Page_Contents_LeftWing_Details">
                        <span>Register Day</span>
                        <div class="MemberDetail_Page_Contents_LeftWing_Details_Value">
                            <p id="popup-user-registerday"></p>
                        </div>
                    </div>*@

                    <div class="MemberDetail_Page_Contents_LeftWing_Details">
                        <span>Phone Number</span>
                        <div class="MemberDetail_Page_Contents_LeftWing_Details_Value">
                            <p id="popup-user-phonenumber"></p>
                        </div>
                    </div>
                </div>

                <div class="MemberDetail_Page_Contents_RightWing">
                    <div class="MemberDetail_Page_Contents_RightWing_Details_First">
                        <span>Age</span>
                        <div class="MemberDetail_Page_Contents_RightWing_Details_Value">
                            <p id="popup-user-age"></p>
                        </div>
                    </div>
                    <div class="MemberDetail_Page_Contents_RightWing_Details">
                        <span>Birthday</span>
                        <div class="MemberDetail_Page_Contents_RightWing_Details_Value">
                            <p id="popup-user-birthday"></p>
                        </div>
                    </div>
                    <div class="MemberDetail_Page_Contents_RightWing_Details">
                        <span>Gender</span>
                        <div class="MemberDetail_Page_Contents_RightWing_Details_Value">
                            <p id="popup-user-gender"></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // Các <a> để mở popup
        var open_Modal = document.querySelectorAll('.MemberList_Table tr td a');
        // button Back
        var modal_close = document.querySelector('.MemberDetail_Page_Header a');
        // Khung popup
        var modal = document.querySelector('.MemberDetail_Modal_Zone');

        // Tìm các element hiển thị thông tin của user
        var nameElement = document.getElementById('popup-user-name');
        var emailElement = document.getElementById('popup-user-email');
        //var registerDayElement = document.getElementById('popup-user-registerday');
        var phoneNumberElement = document.getElementById('popup-user-phonenumber');
        var ageElement = document.getElementById('popup-user-age');
        var birthdayElement = document.getElementById('popup-user-birthday');
        var genderElement = document.getElementById('popup-user-gender');

        function toggle_modal() {
            modal.classList.toggle('hide');
        }

        function setUserOnPopup(user) {
            nameElement.textContent = user.name;
            emailElement.textContent = user.email;
            //registerDayElement.textContent = "chua cap nhat";
            phoneNumberElement.textContent = user.phoneNumber;

            ageElement.textContent = user.age;
            birthdayElement.textContent = user.birthday;
            genderElement.textContent = user.gender;
        }

        function updatePopup(id) {
            $.ajax({
                url: '/Admin/GetUserById',
                type: 'GET',
                data: { id: id },
                success: function (response) {
                    // Xử lý kết quả trả về
                    var user = response;
                    console.log(user);
                    // Sử dụng đối tượng user để hiển thị trên giao diện
                    setUserOnPopup(user);
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.log(error);
                }
            });
        }
        open_Modal.forEach(v => v.addEventListener("click", function () {
            // Lấy dữ liệu
            var id = this.getAttribute('user-id');
            updatePopup(id);
            // Hiển thị cửa sổ popup
            toggle_modal();
        }));
        modal.addEventListener("click", function (e) {
            if (e.target == e.currentTarget) toggle_modal();
        });
        modal_close.addEventListener("click", toggle_modal);
    </script>
}
