@model PaginatedList<Order>
@{
    Layout = "_LayoutAdmin";
}

<div class="Model-Container">
    <div class="Model-Search-Box">
        <form id="order-search-form" class="Model-Search" method="get"
              asp-controller="Admin" asp-action="ListOrders">
            <input type="text" placeholder="Find order here - Eg: Sau cơn mưa ..."
                   name="searchString" value="@ViewBag.SearchString" />
            <i id="order-search-button" class="fa-solid fa-magnifying-glass"></i>
        </form>
    </div>

    <div class="Model-Show">
        <div class="Order-Header">
            <img src="~/img/Vector.png" />
            <div class="Order-Wall"></div>
            <h1>Order</h1>
        </div>

        <table class="Model-table">
            <thead>
                <tr>
                    <td class="table-STT">STT</td>
                    <td>Order name</td>
                    <td>User</td>
                    <td>Type</td>
                    @*<td>Status</td>*@
                    <td class="table-Delete-Edit"></td>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; ++i)
                {
                    Order order = Model[i];
                    <tr class="Model-table-data">
                        <td>@(Model.FirstItemIndex + i)</td>
                        <td>@(order.Name + "-" + order.OrderType.Type)</td>
                        <td>@(order.User.Name)</td>
                        <td>@(order.OrderType.Type)</td>
                        @*<td>Pending confirmation</td>*@
                        <td class="Model-table-Order-details">
                            <a asp-controller="Admin" asp-action="OrderDetails" asp-route-orderId="@order.OrderId">
                                Order details
                            </a>
                        </td>
                    </tr>
                }
                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    @*<td>Pending confirmation</td>*@
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>
                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    @*<td>Pending confirmation</td>*@
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>
                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    @*<td>Pending confirmation</td>*@
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>
                <tr class="Model-table-data">
                    <td>1</td>
                    <td>Where the crawdads sing</td>
                    <td>Nguyễn Đình Anh Tiến</td>
                    <td>Listen</td>
                    @*<td>Pending confirmation</td>*@
                    <td class="Model-table-Order-details">
                        <a asp-controller="Admin" asp-action="OrderDetails">Order details</a>
                    </td>
                </tr>

                
            </tbody>
        </table>

        <div class="Model-Page">
            <div class="Model-GoToPage">
                <a href="">Go to page: </a>
                <input type="text" value="1" />
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Previous</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">2</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">3</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">4</a>
            </div>

            <div class="Model-3dots">...</div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Next</a>
            </div>

            <div class="Model-prev-pagenumber-next-last">
                <a href="#">Last</a>
            </div>
        </div>
    </div>
</div>