@model PaginatedList<Song>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "List of songs";
}

<div class="Model-Container">
    <div class="Model-Search-Box">

        <form id="song-search-form" class="Model-Search" method="get"
              asp-controller="Song" asp-action="Index">
            <input type="text" placeholder="Find song here - Eg: Anti hero ..."
                   name="searchString" value="@ViewBag.SearchString" />
            <i id="song-search-button" class="fa-solid fa-magnifying-glass"></i>
        </form>

        <div class="Model-btn-AddNewModel">
            <a asp-controller="Song" asp-action="Create">Add new song</a>
        </div>
    </div>

    <div class="Model-Show">
        <h1>List song using</h1>

        <div class="Model-Show-Table">
            <table class="Model-table">
                <thead>
                    <tr>
                        <td class="table-STT">STT</td>
                        <td>Name</td>
                        <td>Artist</td>
                        <td>Genre</td>
                        <td>Emotion</td>
                        <td class="table-Delete-Edit"></td>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.Count; ++i)
                    {
                        Song song = Model[i];
                        <tr class="Model-table-data">
                            <td>@(Model.FirstItemIndex + i)</td>
                            <td>@song.Name</td>
                            <td>@song.Artist</td>
                            <td>@String.Join(", ", song.Genres.Select(g => g.Name))</td>
                            <td>@String.Join(", ", song.Emotions.Select(e => e.Name))</td>
                            <td class="Model-table-data-del-edit">
                                <form asp-controller="Song" asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@song.SongId">
                                    <i class="fa-regular fa-rectangle-xmark"></i>
                                </form>
                                <a asp-controller="Song" asp-action="Edit" asp-route-id="@song.SongId">
                                    <img src="~/img/🦆 icon _pencil outline_.png" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="Model-Page">
            <div class="Model-GoToPage">
                <form asp-controller="Song" asp-action="Index" method="get">
                    <button type="submit" style="background: none; border: none;">Go to page: </button>
                    <input type="hidden" name="searchString" value="@ViewBag.SearchString" />
                    <input type="number" name="pageIndex" value="@Model.PageIndex" min="1" 
                        max="@Model.TotalPages" />
                </form>
            </div>

            <div active-page="@Model.PageIndex" total-pages="@Model.TotalPages"
                 page-controller="Song" page-action="Index" page-data-searchString="@ViewBag.SearchString">
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('song-search-button').addEventListener('click', function () {
                document.getElementById('song-search-form').submit();
            });

            var deleteButtons = document.querySelectorAll('.fa-regular.fa-rectangle-xmark');
            
            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var confirmation = confirm("Bạn có chắc chắn muốn xóa không?");
                    if (confirmation) {
                        var form = this.closest('form');
                        form.submit();
                    }
                });
            });
        });

    </script>
}
