@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ManageProfileModel
@{
	Layout = "_Layout";

	Func<string, string> isHide = property =>
	{
		if (ViewContext.ModelState.GetValidationState(property) != ModelValidationState.Invalid)
		{
			// Nếu hợp lệ thì ẩn
			return "hide";
		}
		return "";
	};
}
<div class="Manage-Profile">
	<div class="Manage-Profile_Avatar">
		<img src="/img/Daijin.png" />
	</div>

	<div class="Manage-Profile_Information">
		@if (TempData["Message"] != null)
		{
			<div class="alert alert-success text-center display-6 text-success">@TempData["Message"]</div>
		}
		<div asp-validation-summary="ModelOnly" class="text-center"></div>

		<form id="form-profile" asp-action="ManageProfile" method="post">
			<table>
				@*User name*@
				<tr>
					<td>
						User name
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						@*Thêm id "MyInput " để viết sự kiện bỏ thuộc tính readonly*@
						<input type="text" id="MyInput1" asp-for="Name" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput1"></i>
					</td>
				</tr>
				<tr class="Show-Error @isHide("Name")">
					<td><span asp-validation-for="Name" class="text-danger"></span></td>
				</tr>
				@*Account*@
				<tr>
					<td>
						Account
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input asp-for="Account" readonly />
					</td>
				</tr>
			
				@*Password*@
				<tr>
					<td>
						Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input type="text" value="******" readonly />
						<i class="fa-solid fa-pen iconChangePassword"></i>
					</td>
				</tr>

				@*New password*@
				<tr class="hide" id="ChangePassword">
					<td>
						New Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show_NewPassword hide">
					<td>
						<input id="New_Password" asp-for="NewPassword" />
					</td>
				</tr>
				<tr class="@isHide("NewPassword")">
					<td><span asp-validation-for="NewPassword" class="text-danger"></span></td>
				</tr>
				@*Confirm password*@
				<tr class="hide" id="ChangePassword2">
					<td>
						Confirm Password
					</td>
				</tr>
				<tr class="Manage-Profile_Show_NewPassword hide">
					<td>
						<input id="Confirm_Password" asp-for="ConfirmPassword" />
					</td>
				</tr>
				<tr class="@isHide("ConfirmPassword")">
					<td><span asp-validation-for="ConfirmPassword" class="text-danger"></span></td>
				</tr>
				@*Phone number*@
				<tr>
					<td>
						Phone number
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input id="MyInput3" asp-for="PhoneNumber" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput3"></i>
					</td>
				</tr>
				<tr class="@isHide("PhoneNumber")">
					<td><span asp-validation-for="PhoneNumber" class="text-danger"></span></td>
				</tr>
				
				@*Age*@
				<tr>
					<td>
						Age
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input asp-for="Age" readonly />
					</td>
				</tr>

				@*Birthday*@
				<tr>
					<td>
						Birthday
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<input id="MyInput4" asp-for="Birthday" readonly />
						<i class="fa-solid fa-pen" data-input-id="MyInput4"></i>
					</td>
				</tr>
				<tr class="@isHide("Birthday")">
					<td><span asp-validation-for="Birthday" class="text-danger"></span></td>
				</tr>

				@*Gender*@
				<tr>
					<td>
						Gender
					</td>
				</tr>
				<tr class="Manage-Profile_Show">
					<td>
						<select class="OptionGender" id="myComboBox" asp-for="Gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Optional">Optional</option>
						</select>
					</td>
				</tr>
				<tr class="@isHide("Gender")">
					<td><span asp-validation-for="Gender" class="text-danger"></span></td>
				</tr>
			</table>
		</form>
		<div class="Manage-Profile_btnSave">
			<button form="form-profile" type="submit">Save now</button>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			// Lắng nghe sự kiện khi người dùng thay đổi giá trị trong trường input
			$('input[data-val="true"]').on('input', function () {
				validateInput($(this));
			});

			function validateInput(input) {
				var validationMessage = $('span[data-valmsg-for="' + input.attr('name') + '"]');
				var parentRow = validationMessage.closest('tr');

				// Trigger validation on the input field at client-side
				input.valid();

				// Kiểm tra xem trường input có lỗi không
				if (input.hasClass('input-validation-error')) {
					console.log('Invalid ' + input.attr('name'));
					parentRow.removeClass('hide'); // Hiển thị dòng thông báo lỗi
				} else {
					console.log('Valid ' + input.attr('name'));
					parentRow.addClass('hide'); // Ẩn dòng thông báo lỗi
				}
			}
		});
	</script>
}
