@model List<Story>
@{
	Layout = "_LayoutUser";
}

<div class="ManageStory">
	<h1>Your stories</h1>

	<div class="ManageStory-Show">
		
		@for (int i = 0; i < Model.Count; ++i)
		{
			Story story = Model[i];
			<div class="ManageStory-Container">
				<img src="@("/img/story/" + story.AvatarImage)" />

				<div class="ManageStory-Content">
					<p class="ManageStory-Author">@story.Author</p>
					<p class="ManageStory-StoryTitle">
						@story.Name
					</p>
					<p class="ManageStory-Description">
						@story.Description
					</p>
					@*<p class="ManageStory-Day">26/03/2023</p*@
				</div>

				<a asp-controller="Storii" asp-action="ListenStory" asp-route-storyId="@story.StoryId" 
							class="ManageStory-ListenNow">
					<div>Listen now</div>
				</a>
			</div>
			if (i < Model.Count - 1)
			{
				<div class="ManageStory-wall"></div>
			}
		}
	</div>
</div>
