@model StoriiViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Storii";
    MakingOrderPopupModel popupModel = new MakingOrderPopupModel()
            {
                ItemClassName = "OtherStories-item",
                SelectListOrderType = ViewData["SelectListOrderType"] as IEnumerable<SelectListItem> 
                    ?? Enumerable.Empty<SelectListItem>(),
                UserPoint =  Model.UserPoint
            };
}

<div class="grid">
    <div style="max-width:max-content; height:450px">
        <div class="ST-ROW-1">
            <div class="ST-R1-COL1">
                <h1 class="storii-header">Be the Storii.</h1>
                <br />
                <b>
                    <span class="storii-span1">Let the world felling you,</span>
                    <br />
                    <span class="storii-span1">Let you feeling the world,</span>
                    <br />
                    <span class="storii-span1">Discover yourself, your emotion, your thinking!</span>
                </b>
            </div>

            <div class="ST-R1-COL2">
                <img src="~/img/Article picture_StoriiTheme.jpg" class="storii-img-first" />
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
</div>
<div style="max-width:100%; height:800px; background-color:white">
    <div class="ST-ROW-2">


        <div class="ST-R2-COL1">
            @*@foreach (StoryItem storyItem in Model.StoryItems ?? Enumerable.Empty<StoryItem>())
            {
                Story story = storyItem.Story;
                // Hiển thị các item story, mỗi item để sử dụng partial view cần cung cấp
                // + class name : để Js select các item này
                // + story-id tương ứng : Khi 1 item được chọn, nó cần biết story gắn với nó
                // + already-bought : dựa vào giá trị này để quyết định sự kiện click của phần div này
                //           - true : người dùng đã mua, ta cần chuyển sang trang nghe
                //           - false : hiển thị popup order
                <div class="Storii-Contents" story-id="@story.StoryId" already-bought="@storyItem.AlreadyBought">
                    <img src="@("/img/story/" + story.AvatarImage)" style="width:130px; height: auto"
                     asp-append-version="true" />

                    <div class="Storii-Contents-Text">
                        <a href="#" class="link-primary" style="color:black">@story.Author</a>
                        <i class="fa-regular fa-circle-play"></i>

                        <p style="margin-top:10px">
                            <b style="font-size:25px">@story.Name</b>
                            @if (storyItem.AlreadyBought)
                            {
                                <span style="float : right;">
                                    <i class="fas fa-check-circle" style="color : green;
                                    font-size: 20px; margin-right : 30px"></i>
                                </span>
                            }
                            <br />

                            @story.Description
                        </p>
                    </div>

                </div>




                // Tạo link nhảy sang nghe story nếu đã mua
                if (storyItem.AlreadyBought)
                {
                    <a id="@("link-" + story.StoryId)" asp-controller="Storii" asp-action="ListenStory"
               asp-route-storyId="@story.StoryId" class="hide"></a>
                }
            }*@
            @foreach (StoryItem storyItem in Model.StoryItems ?? Enumerable.Empty<StoryItem>())
            {
                Story story = storyItem.Story;
                // Hiển thị các item story, mỗi item để sử dụng partial view cần cung cấp
                // + class name : để Js select các item này
                // + story-id tương ứng : Khi 1 item được chọn, nó cần biết story gắn với nó
                // + already-bought : dựa vào giá trị này để quyết định sự kiện click của phần div này
                //           - true : người dùng đã mua, ta cần chuyển sang trang nghe
                //           - false : hiển thị popup order
                <div class="OtherStories-item" story-id="@story.StoryId" already-bought="@storyItem.AlreadyBought">
                    <img src="@("/img/story/" + story.AvatarImage)" />

                    <div class="OtherStories-contents">
                        <a href="#">
                            @story.Author
                            <i class="fa-regular fa-circle-play"></i>
                        </a>

                        <h2>
                            @story.Name
                            @if (storyItem.AlreadyBought)
                            {
                                <span style="float : right;">
                                    <i class="fas fa-check-circle" style="color : green;
                                    font-size: 20px; margin-right : 30px"></i>
                                </span>
                            }
                        </h2>
                        <br />
                        <p>
                            @story.Description
                        </p>
                    </div>
                </div>
                // Tạo link nhảy sang nghe story nếu đã mua
                if (storyItem.AlreadyBought)
                {
                    <a id="@("link-" + story.StoryId)" asp-controller="Storii" asp-action="ListenStory"
                       asp-route-storyId="@story.StoryId" class="hide"></a>
                }
            }
            </div>

        </div>

        <div class="ST-R2-COL2">
            Having something to tell the world but didn't find anyone to hearing you? Just give it to us, we're here to listen to you!
            <br />
            Contact directly with us
            <a href="#" class="btn btn-primary" style="border-radius:15px; background-color:black ; font-size:15px">Contact</a>
            <br />
            Or
            <br /> Just be the storii!
            <a asp-controller="Storii" asp-action="ListenStory" asp-route-storyId="1" class="btn btn-secondary" style="border-radius:15px; background-color:black ; font-size:15px">Be the STORIER</a>
        </div>

    </div>
</div>

@*Making order popup*@
<partial name="_MakingOrderPopupPartial" model="popupModel" />
